{% set aide_map = salt['grains.filter_by']({
  'default': {
    'schedule': {
      'user': 'root',
      'minute': '0',
      'hour': '0',
      'daymonth': '*',
      'month': '*',
      'dayweek': '*',
    },
    'define': { 
      'DBDIR': '/var/lib/aide',
      'LOGDIR': '/var/log/aide',
    },
    'config': {
      'database_in': 'file:@@{DBDIR}/aide.db.gz',
      'database_out': 'file:@@{DBDIR}/aide.db.new.gz',
      'gzip_dbout': 'yes',
      'report_url': [
        'file:@@{LOGDIR}/aide.log', 
        'stdout',
      ],
      'FIPSR': 'p+i+n+u+g+s+m+c+acl+selinux+xattrs+sha256',
      'ALLXTRAHASHES': 'sha1+rmd160+sha256+sha512+tiger',
      'EVERYTHING': 'R+sha1+rmd160+sha256+sha512+tiger',
      'NORMAL': 'sha256',
      'DIR': 'p+i+n+u+g+acl+selinux+xattrs',
      'PERMS': 'p+u+g+acl+selinux+xattrs',
      'LOG': 'p+u+g+n+acl+selinux+ftype',
      'STATIC': 'p+u+g+acl+selinux+xattrs+i+n+b+c+ftype',
      'DATAONLY': 'p+n+u+g+s+acl+selinux+xattrs+sha256',
      'CONTENT': 'sha256+ftype',
      'CONTENTEX': 'sha256+ftype+p+u+g+n+acl+selinux+xattrs',
    },
    'database': [
      '/boot/ CONTENTEX',
      '/bin/ CONTENTEX',
      '/sbin/ CONTENTEX',
      '/lib/ CONTENTEX',
      '/lib64/ CONTENTEX',
      '/opt/ CONTENT',
      '/root/\..* PERMS',
      '/root/ CONTENTEX',
      '!/usr/src/',
      '!/usr/tmp/',
      '/usr/ CONTENTEX',
      '!/etc/mtab$',
      '!/etc/.*~',
      '/etc/hosts$ CONTENTEX',
      '/etc/host.conf$ CONTENTEX',
      '/etc/hostname$ CONTENTEX',
      '/etc/issue$ CONTENTEX',
      '/etc/issue.net$ CONTENTEX',
      '/etc/protocols$ CONTENTEX',
      '/etc/services$ CONTENTEX',
      '/etc/localtime$ CONTENTEX',
      '/etc/alternatives/ CONTENTEX',
      '/etc/mime.types$ CONTENTEX',
      '/etc/terminfo/ CONTENTEX',
      '/etc/exports$ CONTENTEX',
      '/etc/fstab$ CONTENTEX',
      '/etc/passwd$ CONTENTEX',
      '/etc/group$ CONTENTEX',
      '/etc/gshadow$ CONTENTEX',
      '/etc/shadow$ CONTENTEX',
      '/etc/security/opasswd$ CONTENTEX',
      '/etc/skel/ CONTENTEX',
      '/etc/hosts.allow$ CONTENTEX',
      '/etc/hosts.deny$ CONTENTEX',
      '/etc/firewalld/ CONTENTEX',
      '/etc/NetworkManager/ CONTENTEX',
      '/etc/networks$ CONTENTEX',
      '/etc/dhcp/ CONTENTEX',
      '/etc/wpa_supplicant/ CONTENTEX',
      '/etc/resolv.conf$ DATAONLY',
      '/etc/nscd.conf$ NORMAL',
      '/etc/login.defs$ CONTENTEX',
      '/etc/libuser.conf$ CONTENTEX',
      '/var/log/faillog$ PERMS',
      '/var/log/lastlog$ PERMS',
      '/var/run/faillock/ PERMS',
      '/etc/pam.d/ CONTENTEX',
      '/etc/security$ CONTENTEX',
      '/etc/securetty$ CONTENTEX',
      '/etc/polkit-1/ CONTENTEX',
      '/etc/sudo.conf$ CONTENTEX',
      '/etc/sudoers$ CONTENTEX',
      '/etc/sudoers.d/ CONTENTEX',
      '/etc/profile$ CONTENTEX',
      '/etc/profile.d/ CONTENTEX',
      '/etc/bashrc$ CONTENTEX',
      '/etc/bash_completion.d/ CONTENTEX',
      '/etc/zprofile$ CONTENTEX',
      '/etc/zshrc$ CONTENTEX',
      '/etc/zlogin$ CONTENTEX',
      '/etc/zlogout$ CONTENTEX',
      '/etc/X11/ CONTENTEX',
      '/etc/shells$ CONTENTEX',
      '/etc/yum.conf$ CONTENTEX',
      '/etc/yumex.conf$ CONTENTEX',
      '/etc/yumex.profiles.conf$ CONTENTEX',
      '/etc/yum/ CONTENTEX',
      '/etc/yum.repos.d/ CONTENTEX',
      '!/var/log/sa/',
      '!/var/log/aide.log',
      '/etc/audit/ CONTENTEX',
      '/etc/audisp/ CONTENTEX',
      '/etc/libaudit.conf$ CONTENTEX',
      '/etc/aide.conf$ CONTENTEX',
      '/etc/rsyslog.conf$ CONTENTEX',
      '/etc/rsyslog.d/ CONTENTEX',
      '/etc/logrotate.conf$ CONTENTEX',
      '/etc/logrotate.d/ CONTENTEX',
      '/var/log/ LOG+ANF+ARF',
      '/var/run/utmp$ LOG',
      '/etc/pkcs11/ CONTENTEX',
      '/etc/pki/ CONTENTEX',
      '/etc/ssl/ CONTENTEX',
      '/etc/certmonger/ CONTENTEX',
      '/etc/systemd/ CONTENTEX',
      '/etc/sysconfig/ CONTENTEX',
      '/etc/rc.d/ CONTENTEX',
      '/etc/tmpfiles.d/ CONTENTEX',
      '/etc/machine-id$ CONTENTEX',
      '/etc/grub.d/ CONTENTEX',
      '/etc/grub2.cfg$ CONTENTEX',
      '/etc/dracut.conf$ CONTENTEX',
      '/etc/dracut.conf.d/ CONTENTEX',
      '/etc/ld.so.cache$ CONTENTEX',
      '/etc/ld.so.conf$ CONTENTEX',
      '/etc/ld.so.conf.d/ CONTENTEX',
      '/etc/sysctl.conf$ CONTENTEX',
      '/etc/sysctl.d/ CONTENTEX',
      '/etc/modprobe.d/ CONTENTEX',
      '/etc/modules-load.d/ CONTENTEX',
      '/etc/depmod.d/ CONTENTEX',
      '/etc/udev/ CONTENTEX',
      '/etc/crypttab$ CONTENTEX',
      '/var/spool/at/ CONTENT',
      '/etc/at.allow$ CONTENT',
      '/etc/at.deny$ CONTENT',
      '/etc/cron.allow$ CONTENTEX',
      '/etc/cron.deny$ CONTENTEX',
      '/etc/cron.d/ CONTENTEX',
      '/etc/cron.daily/ CONTENTEX',
      '/etc/cron.hourly/ CONTENTEX',
      '/etc/cron.monthly/ CONTENTEX',
      '/etc/cron.weekly/ CONTENTEX',
      '/etc/crontab$ CONTENTEX',
      '/var/spool/cron/root/ CONTENT',
      '/etc/anacrontab$ CONTENTEX',
      '/etc/ntp.conf$ CONTENTEX',
      '/etc/ntp/ CONTENTEX',
      '/etc/chrony.conf$ CONTENTEX',
      '/etc/chrony.keys$ CONTENTEX',
      '/etc/aliases$ CONTENTEX',
      '/etc/aliases.db$ CONTENTEX',
      '/etc/postfix/ CONTENTEX',
      '/etc/mail.rc$ CONTENTEX',
      '/etc/mailcap$ CONTENTEX',
      '/etc/ssh/sshd_config$ CONTENTEX',
      '/etc/ssh/ssh_config$ CONTENTEX',
      '/etc/stunnel/ CONTENTEX',
      '/etc/vsftpd.conf$ CONTENT',
      '/etc/vsftpd/ CONTENT',
      '/etc/cups/ CONTENTEX',
      '/etc/cupshelpers/ CONTENTEX',
      '/etc/avahi/ CONTENTEX',
      '/etc/httpd/ CONTENTEX',
      '/etc/named/ CONTENTEX',
      '/etc/named.conf$ CONTENTEX',
      '/etc/named.iscdlv.key$ CONTENTEX',
      '/etc/named.rfc1912.zones$ CONTENTEX',
      '/etc/named.root.key$ CONTENTEX',
      '/etc/xinetd.d/ CONTENTEX',
      '/etc/ PERMS',
      '!/var/log/httpd/',
    ],
  },
},
merge=salt['pillar.get']('aide:lookup', {}),
default='default')
%}
